# Mongodb
DATABASE=<your database uri>
DATABASE_PASSWORD=<your database password>

# JWT
JWT_SECRET=<your jwt secret>
JWT_EXPIRES_IN=<your jwt expiration time>

# Email
EMAIL_USERNAME=<your email>
EMAIL_PASSWORD=<your email password>